<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- LOCAL -->
    <add name="/DefaultConnection" connectionString="Data Source=.;Initial Catalog=FantasySports;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="/FantasySportsEntities" connectionString="metadata=res://*/FantasySports.csdl|res://*/FantasySports.ssdl|res://*/FantasySports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FantasySports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- AZURE -->
    <add name="DefaultConnection" connectionString="Data Source=tcp:frnbnzkusv.database.windows.net,1433;Initial Catalog=FantasySports;User ID=simpsons@frnbnzkusv;Password=S3kk3h16$;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="FantasySportsEntities" connectionString="metadata=res://*/FantasySports.csdl|res://*/FantasySports.ssdl|res://*/FantasySports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FantasySports;User ID=simpsons@frnbnzkusv;Password=S3kk3h16$;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="false">
    <!--need to ensure aspnet user has access to write files and send emails-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Logs\[%env{COMPUTERNAME}]FS.App.Console%date{yyyyMMdd}.log" />
      <datePattern value="yyyyMMdd" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Size" />-->
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--need for website-->
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xD;&#xA;Application Started&#xD;&#xA;" />
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="sawsonh@yahoo.com" />
      <from value="sawsonh@yahoo.com" />
      <subject value="FS.App.Console error" />
      <smtpHost value="smtp.mail.yahoo.com" />
      <bufferSize value="10" />
      <lossy value="false" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
      </layout>
    </appender>
    <root>
      <!--
    OFF - nothing gets logged
    FATAL/ERROR/WARN/INFO/DEBUG 
    ALL - everything gets logged
    -->
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="SmtpAppender" />
    </root>
  </log4net>
</configuration>